/* BRANDING COLORS */
$-color-1: #f9faff;
$-color2: #d6d6d6;
$-color-3: #b6b6b6;
$-color-4: #4a4a4a;
$-color-5: #282727;
$-color-6: #000000;
$bg-blue: steelblue;

$-special-color-1: #ffaeae;
$-special-color-4: #fd8787;
$-special-color-5: #ffe6e6;
$-special-color-7: #dad0aa;
$-special-color-8: #adff2f;
$-special-color-9: #8bb3ff;
$-special-color-10: #797979;
$-special-color-11: #deb887;
$-special-color-12: #889dcc;

/* BACKGROUND-COLORS */
$-primary-bg: $bg-blue;
$-bg-black: $-color-6;
$-bg-red-light: $-special-color-4;
$-bg-trainig: $-special-color-7;
$-bg-btn-blue: $-special-color-9;
$-bg-btn-blue-dark: $-special-color-12;
$-bg-color-header: $-special-color-10;
$-bg-color-wood: $-special-color-11;

/* TEXT-COLORS */
$-primary-text: var(--rtc-color-3);
$-secondary-text: $-special-color-1;
$-terciaty-text: $-special-color-5;
$-txt-succes: $-special-color-8;

/* BORDER-COLORS */
$-primary-border: 1px solid var(--rtc-color-2);
$-btn-succes: $-special-color-8;

/* BORDER RADIUS */
$-br-s: 5px;
$-br-m: 8px;
$-br-l: 1rem;
$-br-xl: 1.4rem;

/* SPACINGS */
$-margin-xs: 10px;
$-margin-s: 20px;
$-margin-m: 30px;
$-margin-l: 40px;
$-margin-xl: 50px;
$-margin-section: 100px;

$-padding-xs: 10px;
$-padding-s: 20px;
$-padding-m: 30px;
$-padding-l: 40px;
$-padding-xl: 50px;

$-gap-xs: 10px;
$-gap-s: 20px;
$-gap-m: 30px;
$-gap-l: 40px;
$-gap-xl: 50px;
