@use '../../../mixins' as p;
@import '../../../variables';
[id='section-post-event'] {
  width: 100%;
  height: 95svh;
  max-height: 140svh;
  align-items: start;
  padding: $-padding-s;
  justify-content: center;
}
[id='form-post-event'] {
  width: 60%;
  height: 100%;

  background-color: whitesmoke;
  justify-content: space-evenly;
  padding: 0 $-padding-m;
  h2 {
    align-self: center;
    font-size: 2rem;
    width: 80%;
    text-align: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
  }
  div {
    justify-content: space-between;
    gap: $-gap-m;
    width: 100%;
    align-items: center;
    label,
    p {
      width: 30%;
      font-size: 1.3rem;
      font-weight: 600;
      margin-left: 2rem;
    }

    input,
    select {
      width: 60%;
      padding: $-padding-xs;
    }
    input:user-invalid {
      outline: 2px solid crimson;
    }
  }
  div.btn-div {
    height: 40px;
    width: 100%;
    justify-content: center;
    button {
      @include p.button(
        $-padding-xs,
        100px,
        $-br-s,
        #49ad5d,
        1px solid black,
        70px
      );
      color: antiquewhite;
      font-size: 1.2rem;
      font-weight: bold;
      transition: all 1s ease;
    }
    button:hover {
      filter: brightness(120%);
    }
    button:last-child:hover {
      img {
        animation: rotate 0.6s ease forwards;
      }
    }
  }
}
.err-msn {
  color: crimson;
  font-size: 1.3rem;
  align-self: center;
}

span.advise-msn {
  left: 39%;
  top: 45%;
  width: 100%;
}
p.success {
  align-self: center;
  justify-self: center;
  border-radius: 5px;
  padding: 10px;
  width: fit-content;
  text-align: center;
  position: relative;
  bottom: -30px;
}
div[id='loader-container'].loader-post {
  bottom: 17%;
  right: 55%;
  width: 40px;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(365deg);
  }
}
@media (width<952px) {
  [id='form-post-event'] {
    width: 95%;
    div {
      label,
      p {
        margin-left: 0px;
      }
    }
  }
}
@media (width<768px) {
  div[id='loader-container'].loader-post {
    bottom: 12%;
    right: 55%;
    width: 40px;
  }
  [id='section-post-event'] {
    width: 100%;
    gap: $-gap-s;
    height: 120svh;
    max-height: fit-content;
    div {
      flex-wrap: wrap;
      gap: $-gap-xs;
      label,
      p {
        width: 100%;
      }
      input,
      select {
        width: 100%;
      }
    }
  }
}
@media (width<420px) {
  div[id='loader-container'].loader-post {
    bottom: 23%;
    right: 55%;
    width: 40px;
  }
  section[id='section-post-event'].margin-xl {
    padding: 0px;
    margin: $-margin-l 0;
    height: 200svh;

    [id='form-post-event'] {
      gap: $-gap-xs;

      padding: $-padding-xs;
    }
  }
}
@media (height < 550px) {
  [id='section-post-event'] {
    max-height: fit-content;
    height: 170svh;
  }
}
@media (height < 401px) and (width <640px) {
  [id='section-post-event'] {
    max-height: fit-content;
    height: 330svh;
  }
}

@media (width < 641px) and (height <361px) {
  [id='section-post-event'] {
    height: 200svh;
  }
}
